
    body { 
        font-family: Arial, sans-serif; 
        margin: 20px; 
        line-height: 1.6; 
        margin-left: 200px; /* Adjust this value to the width of your fixed buttons + some extra space */
        background-color: #232323;
        color: white;
    }
    h1 { color: #d5f2e3; }
    h2 { color: #d5f2e3; margin-top: 20px; clear: both; }
    h3 { color: #d5f2e3; margin-top: 20px; clear: both; }
    p { clear: both; }
    .character-info { display: flex; margin-bottom: 10px; }
    .character-info div { flex: 1; padding: 5px; }
    .character-link { flex: 1; }

    .collapsible {
        background-color: #e0e0e2;
        color: #232323;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        border-radius: 5px;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        display: flex;
        align-items: center;
    }
    .collapsible img.icon {
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }
    .collapsible img.icon.hidden {
        display: none;
    }
    .collapsible:hover {
        background-color: #45a049;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
    .active, .collapsible:focus {
        background-color: #45a049;
    }

    .content {
        padding: 0 18px;
        color: #e0e0e2; 
        display: none;
        overflow: hidden;
        background-color: #2d2d2d;
    }
    iframe {
        width: 100%;
        height: 600px;
        border: none;
    }

    .top-buttons {
        position: fixed;
        top: 20px;
        left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 20px;
    }
    .top-button {
        background-color: #e0e0e2;
        color: #232323;
        cursor: pointer;
        padding: 10px 15px;
        border: none;
        text-align: center;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        text-decoration: none;
        flex: 0 0 auto;
        margin-bottom: 10px;
    }
    .top-button:hover {
        background-color: #45a049;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
    .top-button.active {
        background-color: #2E7D32; /* Different color for active state */
    }

    .back-to-top {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
        font-size: 18px;
    }
    .back-to-top:hover {
        background-color: #45a049;
    }

    .split-button {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .split-button-option {
        background-color: #4CAF50;
        color: #232323;
        cursor: pointer;
        padding: 10px 15px;
        border: none;
        text-align: center;
        outline: none;
        font-size: 16px;
        border-radius: 0;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        flex: 1;
    }
    .split-button-option:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .split-button-option:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .split-button-option:hover {
        background-color: #45a049;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
    .split-button-option.active {
        background-color: #2E7D32;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }
    .skills-container {
        display: flex;
        justify-content: space-between;
        background-color: #2d2d2d;        
    }
    .column {
        flex: 1;
        margin: 10px;
    }
    h3 {
        color: #e0e0e2;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        margin-bottom: 5px;
    }
    .indented-skills {
        margin-left: 50px; /* Adjust the value to your preference */
    }
    .merccolumn {
        float: left; 
        width: 25%;
    } 
    .row:after {
        content: "";    
        display: table; 
        clear: both;
    }
    .hover-trigger {
        text-align: center;
        width: auto;
        display: inline-block;
        padding: 10px 20px;
        background-color: #2E7D32;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }
    .hover-trigger-dead {
        text-align: center;
        width: auto;
        display: inline-block;
        padding: 10px 20px;
        background-color: red;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }

    .popup {
        display: none; /* Initially hidden */
        position: fixed; /* Keeps it positioned relative to the viewport */
        top: 50%; /* Adjust as needed */
        left: 50%; /* Center it */
        transform: translate(-50%, -50%); /* Perfect centering */
        width: 600px;
        height: 500px;
        background-color: #232323;
        border: 1px solid black;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        padding: 10px;
        z-index: 1000;
    }

    /* Ensure interactions inside the popup don't close it */
    .popup iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    /* Optional: Style for when the popup is visible */
    .popup.active {
        display: block;
    }

    .class-intro {
        background-color: #2d2d2d;        
    }
    class-intro {
        background-color: #2d2d2d;        
    }
