    @font-face {
        font-family: 'd2'; /*a name to be used later*/
        src: url('../icons/Exocet.TTF'); /*URL to font*/
    }

    @font-face {
        font-family: 'armory'; /*a name to be used later*/
        src: url('../armory/font/avqest.ttf'); /*URL to font*/
    }

    body {  
        margin: 20px; 
        line-height: 1.6; 
        margin-left: 300px; /* Adjust this value to the width of your fixed buttons + some extra space */
        background-image: url("../icons/Header_background.jpg"),url("../icons/stone_background_mobile.jpg");
        background-position: top 0px left 0px, bottom center;
        background-repeat: no-repeat, repeat;
        background-size: contain, auto;
        background-color: #232323;
        font-family: 'd2', sans-serif;
        color: white;
    }
    h1 { color: #d5f2e3; }
    h2, h3 { 
        color: #d5f2e3; 
        margin-top: 20px; 
        clear: both; 
        font-family: 'newFont', serif;
    }
    p { 
        clear: both; 
        font-family: 'newFont', serif;
    }
    .main {
        margin-left: 200;
    }
    main {
        margin-left: 200;
    }
    .main img {
        max-width: 600px;
        width: 100%;
        height: auto;
        display: block;
        margin-left: 10px;  /* Adjust the value as needed */
    }
    
    
        
    .character-info { display: flex; margin-bottom: 10px; }
    .character-info div { flex: 1; padding: 5px; }
    .character-link { flex: 1; }

    .collapsible {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 10px 20px; /* Adjust padding as needed */
        justify-content: space-between;
    }
    
    .collapsible .icon {
        width: 300px; /* Adjust size as needed */
        height: 50px;
        margin-right: 10px;
    }

    .collapsible .icon-small {
        width: 30px; /* Adjust size as needed */
        height: 30px;
        margin-right: 10px;
    }

    .collapsible .icon.hidden, .icon-small.hidden {
        display: none;
    }
    
    .collapsible .close-icon {
        display: inline;
    }
    
    .collapsible.active .open-icon {
        display: inline;
    }
    
    .collapsible.active .close-icon {
        display: none;
    }

    .hidden {
        display: none;
    }
    
    .collapsible strong {
        font-size: 16px;
        margin-left: 10px;
    }
    

    .content {
        padding: 0 18px;
        color: #e0e0e2; 
        display: none;
        overflow: hidden;
        background-color: #2d2d2d;
    }
    iframe {
        width: 100%;
        height: 600px;
        border: none;
    }

    .top-buttons {
        position: fixed;
        top: 100px;
        left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 20px;
    }
    
    .top-button {
        width: 150px; /* Adjust based on your images */
        height: 50px; /* Adjust based on your images */
        cursor: pointer;
        border: none;
        text-align: center;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        text-decoration: none;
        flex: 0 0 auto;
        background-size: cover; /* Ensure the image covers the button */
        background-position: center;
    }
    
    /* Define specific buttons with background images */
    .about-button {
        background-image: url('../icons/About.png'); /* Replace with your image path */
    }

    .amazon-button {
        background-image: url('../icons/Amazon.png'); /* Replace with your image path */
    }

    .assassin-button {
        background-image: url('../icons/Assassin.png'); /* Replace with your image path */
    }
    
    .barbarian-button {
        background-image: url('../icons/Barb.png'); /* Replace with your image path */
    }
    
    .druid-button {
        background-image: url('../icons/Druid.png'); /* Replace with your image path */
    }
 
    .home-button {
        background-image: url('../icons/Home.png'); /* Replace with your image path */
    }
 
    .necromancer-button {
        background-image: url('../icons/Necro.png'); /* Replace with your image path */
    }
    
    .paladin-button {
        background-image: url('../icons/Paladin.png'); /* Replace with your image path */
    }
    
    .softcore-button {
        background-image: url('../icons/Softcore_Click.png'); /* Replace with your image path */
    }
    
    .sorceress-button {
        background-image: url('../icons/Sorc.png'); /* Replace with your image path */
    }

    
    .top-button.active.amazon-button {
        background-image: url('../icons/Amazon_click.png'); /* Replace with your image path */
    }

    .top-button.active.assassin-button {
        background-image: url('../icons/Assassin_click.png'); /* Replace with your image path */
    }
    
    .top-button.active.barbarian-button {
        background-image: url('../icons/Barb_click.png'); /* Replace with your image path */
    }
    
    .top-button.active.druid-button {
        background-image: url('../icons/Druid_click.png'); /* Replace with your image path */
    }
 
    .top-button.active.home-button {
        background-image: url('../icons/Home_click.png'); /* Replace with your image path */
    }
 
    .top-button.active.necromancer-button {
        background-image: url('../icons/Necro_click.png'); /* Replace with your image path */
    }
    
    .top-button.active.paladin-button {
        background-image: url('../icons/Paladin_click.png'); /* Replace with your image path */
    }
    
    .softcore-button {
        background-image: url('../icons/Softcore_click.png'); /* Replace with your image path */
    }
    
    .top-button.active.sorceress-button {
        background-image: url('../icons/Sorc_click.png'); /* Replace with your image path */
    }
    
    .top-button#SC_HC.softcore {
        background-image: url('../icons/Softcore_click.png');
    }
    
    .top-button#SC_HC.hardcore {
        background-image: url('../icons/Hardcore_click.png');
    }
    

    .small-grey-open {
        background-image: url('../icons/open-grey.png'); /* Image for HC */
    }
    .small-grey-closed {
        background-image: url('../icons/closed-grey.png'); /* Image for HC */
    }
    .small-red-open {
        background-image: url('../icons/open.png'); /* Image for HC */
    }
    .small-red-closed {
        background-image: url('../icons/closed.png'); /* Image for HC */
    }

    .back-to-top {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: gold;
        outline: none;
        background-color: #800000;
        color: white;
        cursor: pointer;
        padding: 15px;
        font-size: 18px;
    }
    .back-to-top:hover {
        background-color: #CD7F32;
        color: black;
    }

    .split-button {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .split-button-option {
        background-color: #4CAF50;
        color: #232323;
        cursor: pointer;
        padding: 10px 15px;
        border: none;
        text-align: center;
        outline: none;
        font-size: 16px;
        border-radius: 0;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        flex: 1;
    }
    .split-button-option:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .split-button-option:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .split-button-option:hover {
        background-color: #45a049;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
    .split-button-option.active {
        background-color: #2E7D32;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }
    .skills-container {
        display: flex;
        justify-content: space-between;
        background-color: #2d2d2d;        
    }
    .column {
        flex: 1;
        margin: 10px;
    }
    h3 {
        color: #e0e0e2;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        margin-bottom: 5px;
    }
    .indented-skills {
        margin-left: 50px; /* Adjust the value to your preference */
    }
    .merccolumn {
        float: left; 
        width: 25%;
    } 
    .row:after {
        content: "";    
        display: table; 
        clear: both;
    }
    .hover-trigger {
        text-align: center;
        width: auto;
        display: inline-block;
        padding: 10px 20px;
        background-color: #2E7D32;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }
    .hover-trigger-dead {
        text-align: center;
        width: auto;
        display: inline-block;
        padding: 10px 20px;
        background-color: red;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }

    .popup {
        display: none; /* Initially hidden */
        position: fixed; /* Keeps it positioned relative to the viewport */
        top: 50%; /* Adjust as needed */
        left: 50%; /* Center it */
        transform: translate(-50%, -50%); /* Perfect centering */
        width: 600px;
        height: 500px;
        background-color: #232323;
        border: 1px solid black;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        padding: 10px;
        z-index: 1000;
    }

    /* Ensure interactions inside the popup don't close it */
    .popup iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    /* Optional: Style for when the popup is visible */
    .popup.active {
        display: block;
    }

    .class-intro {
        background-color: #2d2d2d;        
    }
    class-intro {
        background-color: #2d2d2d;        
    }

    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        font-style: italic;
      }


    .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Montserrat, sans-serif;
    min-width: 911px;
    }
    .navbar.is-dark {
    background-color: #3a3f44 !important;
    }
    
    .navbar.is-dark.hover {
    background-color: #222 !important;
    }
    
    .navbar.is-fixed-top {
    top: 0;
    }
    
    .navbar.is-fixed-bottom, .navbar.is-fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
    }
    
    .navbar.is-dark {
    background-color: #363636;
    color: #f5f5f5;
    }
    
    @media screen and (min-width: 1024px) {
    .navbar, .navbar-end, .navbar-menu, .navbar-start {
        align-items: stretch;
        display: flex;
        color: #f5f5f5;
    }
    }
    .navbar-item, .navbar-item-right{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #f5f5f5;
    }
    .navbar-item, .navbar-item-right{
    border-right: 1px solid rgba(0,0,0,.2);
    border-left: 1px solid hsla(0,0%,100%,.1);
    }
    @media screen and (min-width: 1024px) {
    .navbar-item, .navbar-item-right{
        align-items: center;
        display: flex;
    }
    }
    .navbar-item, .navbar-item-right{
    flex-grow: 0;
    flex-shrink: 0;
    }
    .navbar-item, .navbar-item-right{
    line-height: 1.5;
    padding: .5rem 1rem;
    position: relative;
    font-weight: 400;
    text-decoration: none;
    }
    
    .navbar-item-right{
    margin-left: 200%;
    margin-right: 20px;
    
    }
    .navbar-item:hover, .navbar-item-right:hover {
    background-color: #222;
    }
      